.Nav_ROW::after{
  content: "";
  clear: both;
  display: block;
}

.Nav_ROW{
  width: 100%;
}

.general{
    background-color: #383a4e;
}

.L_TOP{
    width: 100%;
  }
  
.L_TOP_L{
    float: left;
    width: 10%;
}
  
.L_TOP_M{
  float: left;
  width: 80%;
  text-align: center;
}

.L_TOP_R{
  float: left;
  width: 10%;
}

.NavName{
  transition-duration: 0.4s;
  color:#a990ee;
  font-size: 3vw;
  font-weight: bold;
  font-family: Berlin Sans FB, Arial Black;
}

.NavName:hover{
  color:#ffffff;
}

.NavLogo{
  width: 5vw;
  align-items: center;
}

.NavDD{
  margin-top: 1vw;
}